.skeleton__1{
    text-align: start;
    padding: 5px;
}
.skeleton__Profile__1{
    display: flex;
}
.skeleton__leftSide{
    display: flex;
    flex-direction: column;
}
.skeleton__Profile__info__1{
    display: flex;
    text-align: right;
    flex-direction: column;
    margin: 0px 0px 0px 5px;
}